html {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--second-background-color);
    color: var(--main-head-color);
    margin: 0;
}
.section {
    padding: 94px 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}